.geral {
    border: 1px solid;
    background-color: #424250;
    color: #fff;
    margin: 10px #fff;
    height: 10px #fff;
}

.cabecalho-moda {
    background-color: #BB86FC;
}

.cabecalho-casa {
    background-color: #00C4B4;
}